.ItemCard_Parent{
    width: 90%;
    height: 120px;
    display: grid;
    grid-template-columns:  30% auto 25%;
    background:  #ebebeb;;
    margin-bottom: 10px;
    border-radius: 200px;
    cursor: pointer;
}


a {
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    background: transparent;
}


.ItemCard_Info{
    padding-top: 10%;
    padding-left: 10%;
    text-align: left;
    line-height: 12px;
    color: black;
}


.ItemCard_Price{
    text-align: right;
    color: black;
}

.ItemCard_Parent h4{
    text-align: left;
    color: #D26565;
}

.ItemCard_Parent img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 200px 0px 0px 200px
}

.ItemCard_Parent button{
    color: #D26565;
    border: 0px 1px 1px 1px solid #D26565;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    text-align: center;
    border-top-style: none;

    
}

.ItemCard_Parent button:hover{
    background: #D26565;
    color: white;
    text-align: center;
    cursor: pointer;
    text-align: center;

    border: 0px 1px 1px 1px solid #D26565;
    border-radius: 0px 0px 5px 5px;
    border-top-style: none;

}